/* Column Drop */
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.columna1,
.columna2,
.columna3 {
  width: 100%;
}

.columna1 {
  background-color: #ffcccc; /* Light red */
  border: 1px solid #ff0000;
  padding: 10px;
}

.columna2 {
  background-color: #ccffcc; /* Light green */
  border: 1px solid #008000;
  padding: 10px;
}

.columna3 {
  background-color: #ccccff; /* Light blue */
  border: 1px solid #0000ff;
  padding: 10px;
}

@media (min-width: 600px) {
  .columna1 {
    width: 60%;
    -webkit-order: 2;
    order: 2;
  }

  .columna2 {
    width: 40%;
    -webkit-order: 1;
    order: 1;
  }

  .columna3 {
    width: 100%;
    -webkit-order: 3;
    order: 3;
  }
}

@media (min-width: 800px) {
  .columna2,
  .columna3 {
    width: 20%;
  }
}